@use './mixins.scss' as m;
@use './variables.scss' as v;

*,
body,
#root {
	background-color: v.$dark-theme-bg;
	color: v.$dark-theme-text;
	font-family: v.$primary-font-family;
}

a {
	text-decoration: none;
}

.header {
	@include m.flex($justify-content: space-between, $align-items: center);
	height: 56px;
	padding: 0 16px;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	&-start {
		@include m.flex($align-items: center);

		.hamburger-icon {
			@include m.circular-icon(
				$margin: (
					0 8px 0 0,
				),
				$hover-bg: v.$dark-theme-hover-bg
			);
		}
	}
	&-logo {
		height: 20px;
		width: 90px;
		padding: 18px 14px 18px 16px;
		position: relative;

		&-icon-wrapper {
			fill: v.$primary-color;
		}
		&-icon-inner {
			fill: v.$dark-theme-text;
		}
		&-text {
			fill: v.$dark-theme-text;
		}

		.country-code {
			margin: 12px 0 0 -10px;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 10px;
			font-weight: 300;
		}
	}

	&-center {
		@include m.flex($justify-content: center, $align-items: center);
		flex: 0 1 728px;
		min-width: 0px;

		.visible-when-mobile {
			display: none;
		}

		.search-container {
			@include m.flex($align-items: center);
			margin: 0 0 0 40px;
			padding: 0 4px;
			flex: 1;
			height: 40px;

			form {
				@include m.flex($align-items: center);
				flex: 1;

				height: 100%;
				position: relative;
			}

			.search-icon {
				@include m.flex($justify-content: center, $align-items: center);
				border-radius: 0 40px 40px 0;
				border: 1px solid v.$dark-theme-border;
				background-color: v.$dark-theme-bg-3;
				cursor: pointer;
				width: 64px;
				height: 100%;
				margin: 0;
			}

			.search-box {
				@include m.flex($align-items: center);
				height: 40px;
				border-radius: 40px 0 0 40px;
				padding: 0px 4px 0px 16px;
				border: 1px solid v.$dark-theme-border;
				background-color: v.$dark-theme-bg-4;
				width: 100%;
				margin-left: 32px;
				position: relative;

				.keyboard-icon {
					@include m.circular-icon();
				}

				.visible-when-focus {
					display: none;
					position: absolute;
					left: 0;
					color: v.$dark-theme-text;
					padding: 0 20px;
					background-color: transparent;

					i {
						background-color: transparent;
						font-size: 14px;
						color: v.$dark-theme-text;
					}
				}

				.visible-when-enter {
					@include m.circular-icon($hover-bg: v.$dark-theme-hover-bg);
					display: none;
				}

				&:focus-within {
					.visible-when-focus {
						display: block;
					}
					& {
						margin-left: 0;
						padding: 0 4px 0 48px;
					}
				}
				input {
					border: none;
					padding: 0px;
					margin: 0px;
					height: auto;
					width: 100%;
					outline: none;
					background-color: v.$dark-theme-bg-4;
				}

				input:not(:placeholder-shown) + .keyboard-icon {
					& {
						padding-right: 24px;
					}
					& + .visible-when-enter {
						display: flex;
						position: absolute;
						right: 0;
					}
				}
			}
		}

		.voice-icon {
			@include m.circular-icon(
				$margin: (
					0 0 0 4px,
				),
				$bg: v.$dark-theme-bg-2,
				$hover-bg: v.$dark-theme-hover-bg
			);
		}
	}
	&-end {
		@include m.flex($justify-content: flex-end, $align-items: center);
		min-width: 225px;

		@for $i from 1 through 3 {
			$m: (0 0 0 0);
			@if ($i < 3) {
				$m: (0 8px 0 0);
			}
			.icon-wrapper:nth-child(#{$i}) {
				@include m.circular-icon($margin: $m, $hover-bg: v.$dark-theme-hover-bg);
			}
		}
	}

	.button {
		&-hamburger {
			@include m.icon($bg: transparent);
		}
		&-magnifying-glass {
			@include m.icon();
		}
		&-voice {
			@include m.icon();
		}
		&-video {
			@include m.icon();
		}
		&-alarm {
			@include m.icon($size: 20px);
		}
		&-user {
			@include m.icon($size: 20px);
		}
		&-xmark {
			@include m.icon($size: 20px);
		}
	}
}

#sidebar-check {
	display: none;

	&:checked + .sidebar {
		& {
			display: none;
		}
	}

	&:not(:checked) + .sidebar + .mini-sidebar {
		& {
			display: none;
		}
	}

	&:checked + .sidebar + .mini-sidebar + .modal + .content {
		& {
			margin-left: 64px;
		}
	}
}

.sidebar {
	$sidebar: &;

	width: 256px;
	height: 100%;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	@include m.flex($direction: column);
	&-spacer {
		width: 100%;
		min-height: 56px;
	}

	&-content {
		@include m.flex($direction: column);

		min-height: calc(100% - 56px);

		overflow: hidden;
		flex: 1;
		flex-basis: 1e-9px;
		overflow-y: auto;

		&::after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 100%;
			visibility: visible;
			width: 20px;
			content: '';
		}

		&s {
			&-section {
				padding: 12px;
				border-bottom: 1px solid v.$dark-theme-border-2;

				&-spacer {
					min-height: 12px;
					width: 100%;
				}

				&-line {
					width: 100%;
					border-bottom: 1px solid v.$dark-theme-border-2;
				}

				&-header {
					text-transform: none;
					letter-spacing: unset;
					padding: 6px 12px 4px;
					font-family: 'Roboto', 'Arial', sans-serif;
					font-size: 16px;
					font-weight: 400;
				}

				&-items {
					@include m.flex($align-items: center);
					padding: 0 12px;
					min-height: 40px;
					cursor: pointer;
					box-sizing: border-box;
					outline: 0;
					color: v.$dark-theme-text;

					&:hover {
						border-radius: 10px;
						width: calc(100% - 12px);
						background-color: v.$dark-theme-border-2;

						.icon {
							margin-right: 0;
							&.dot {
								margin-right: 4px;
							}
						}
					}

					.button {
						background: transparent;
						font-size: 1rem;
						width: 40px;

						&.youtube {
							color: v.$primary-color;
						}
					}

					.icon {
						font-size: 0.8rem;
						background: transparent;
						margin-right: 12px;

						&.live {
							color: v.$primary-color;
						}
						&.dot {
							@include m.circular-icon(
								$bg: v.$activated-color,
								$size: 4px,
								$margin: (
									0 16px 0 0,
								)
							);
						}
					}

					.items-text {
						background: transparent;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						font-family: 'Roboto', 'Arial', sans-serif;
						font-size: 14px;
						font-weight: 400;
						flex: 1;
						flex-basis: 1e-9px;
					}

					.channel-avatar {
						@include m.circular-image(
							$url:
								'https://yt3.ggpht.com/ytc/AMLnZu8cElSA61V6cMGF7txxKs10FrPW9pfA7CtrzWv66g=s88-c-k-c0x00ffffff-no-rj'
						);
						margin: 0 16px 0 0;
					}
				}
			}
		}

		#{$sidebar}-footer {
			#{$sidebar}-links {
				&-primary {
					a {
						margin-right: 8px;
						color: v.$dark-theme-text-2;
						display: inline-block;
					}
					padding: 16px 24px 0;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.2rem;
				}
				&-secondary {
					a {
						margin-right: 8px;
						color: v.$dark-theme-text-2;
						display: inline-block;
					}
					overflow: hidden;
					font-size: 14px;
					font-weight: 500;
					line-height: 1.2rem;
					padding: 12px 24px 0;
				}
			}
			#{$sidebar}-copyright {
				direction: ltr;
				unicode-bidi: isolate;
				padding: 16px 24px;
				color: v.$disabled-color;
				font-family: 'Roboto', 'Arial', sans-serif;
				font-size: 12.5px;
				line-height: 1.1rem;
				font-weight: 400;
				a {
					color: v.$activated-color;
				}
			}
		}
	}
}

.mini-sidebar {
	@include m.flex($direction: column);

	width: 64px;
	height: 100%;
	padding: 0 4px;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 1;

	&-spacer {
		width: 100%;
		min-height: 56px;
	}

	&-content {
		@include m.flex($direction: column);
		min-height: calc(100% - 56px);

		&s {
			@include m.flex($direction: column);
			margin-top: 4px;

			&-items {
				@include m.flex($direction: column, $align-items: center, $justify-content: center);
				padding: 16px 0 14px;
				border-radius: 10px;

				.items-text {
					max-width: 100%;
					overflow: hidden;
					white-space: nowrap;
					font-size: 12px;
					font-weight: 400;
					line-height: 1.5rem;
					max-height: 1.5rem;
				}

				.button,
				.items-text {
					background: transparent;
				}

				&:hover {
					cursor: pointer;
					background-color: v.$dark-theme-border-2;
				}
			}
		}
	}
}

.modal {
	display: none;
}

.content {
	@include m.flex($direction: column);
	flex: 1;

	overflow-y: auto;

	margin-top: 56px;
	margin-left: 256px;
	min-height: 100%;

	&-header {
		@include m.flex();
		width: 100%;
		position: fixed;

		&-scroller {
			position: relative;
			white-space: nowrap;

			overflow-x: auto;
			-ms-overflow-style: none;
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}

			.types {
				border-radius: 8px;
				background-color: v.$dark-theme-border-2;

				height: 32px;
				min-width: 12px;
				margin: 12px 12px 12px 0;
				padding: 0 12px;
				cursor: pointer;

				align-items: center;
				display: inline-flex;

				font-size: 14px;
				font-weight: 400;
				line-height: 14px;

				white-space: nowrap;

				&:hover {
					background-color: v.$dark-theme-hover-bg-2;
				}

				&:first-child {
					margin-left: 24px;
					background-color: v.$dark-theme-text;
					color: #0f0f0f;
				}
				&:last-child {
					margin-right: 24px;
				}
			}
		}
	}

	&s {
		@include m.flex();
		flex-wrap: wrap;

		width: calc(100% - 32px);
		margin: 80px 16px 0 16px;

		$contents: &;

		&-container {
			margin: 0 8px 40px 8px;
			@media (max-width: 512px) {
				flex: 1 0 calc(100% - 16px);
				max-width: calc(100% - 16px);
			}
			@media (min-width: 512px) and (max-width: 792px) {
				flex: 1 1 calc(50% - 32px);
				max-width: calc(50% - 16px);
			}
			@media (min-width: 792px) and (max-width: 1144px) {
				flex: 1 1 calc(100% / 3 - 48px);
				max-width: calc(100% / 3 - 16px);
			}
			@media (min-width: 1144px) and (max-width: 1966px) {
				flex: 1 1 calc(25% - 64px);
				max-width: calc(25% - 16px);
			}
			@media (min-width: 1966px) and (max-width: 2304px) {
				flex: 1 1 calc(20% - 80px);
				max-width: calc(20% - 16px);
				min-width: 320px;
			}
			@media (min-width: 2304px) {
				flex: 1 1 calc(100% / 6 - 96px);
				max-width: calc(100% / 6 - 16px);
				min-width: 320px;
			}

			#{$contents}-header {
				max-width: 100%;
				cursor: pointer;
				padding-top: 56.25%;
				background-image: url(https://i.ytimg.com/vi/jNZJEfVD3-E/hq720.jpg?sqp=-oaymwEcCOgCEMoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA5mtoHbXsPEGSRemm_O8-Ak5Yu8Q);
				background-repeat: no-repeat;
				background-size: contain;

			}

			#{$contents}-details {
				@include m.flex();
				flex: auto;
				cursor: pointer;
				max-width: 100%;

				.avatar-link {
					height: 36px;
					margin-top: 12px;
					margin-right: 12px;

					.avatar {
						@include m.circular-image(
							$url:
								'https://yt3.ggpht.com/ytc/AMLnZu8cElSA61V6cMGF7txxKs10FrPW9pfA7CtrzWv66g=s88-c-k-c0x00ffffff-no-rj'
						);
						max-width: 36px;
						max-height: 36px;
					}
				}

				.meta {
					@include m.flex($direction: column);
					overflow-x: hidden;
					padding-right: 24px;

					&-title {
						max-width: 100%;
						margin: 12px 0 8px 0;
						font-size: 1rem;
						line-height: 1.4rem;
						font-weight: 500;
						-webkit-line-clamp: 2;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}

					&-channel {
						@include m.flex($align-items: center);
						max-width: 100%;
						font-size: 0.8rem;

						&-name {
							color: v.$dark-theme-text-2;
							display: inline-block;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							max-width: 100%;
						}

						&-badge {
							margin: 0 8px 0 4px;
							.badge {
								color: v.$dark-theme-text-2;
							}
						}
					}

					&-etc {
						@include m.flex($align-items: center);

						.item {
							color: v.$dark-theme-text-2;
							font-size: 0.8rem;
						}

						&-time {
							&:before {
								content: '•';
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 792px) {
	.content {
		margin-left: 0;
	}
}

@media (min-width: 792px) and (max-width: 1313px) {
	#sidebar-check {
		&:not(:checked) + .sidebar + .mini-sidebar {
			& {
				display: flex;
			}
		}
	}

	.content {
		margin-left: 64px;
	}
}

@media (max-width: 1313px) {
	#sidebar-check {
		display: none;

		&:checked + .sidebar + .mini-sidebar + .modal {
			& {
				display: block;
			}
		}

		&:checked + .sidebar + .mini-sidebar + .modal .modal-sidebar .sidebar {
			& {
				display: flex;
			}
		}
	}

	.sidebar,
	.mini-sidebar {
		display: none;
	}

	.modal {
		z-index: 3;
		position: fixed;
		right: 0;
		top: 0;
		left: 0;
		background-color: transparent;
		width: 100vw;
		height: 100vh;

		&-bg {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.5);
		}

		&-sidebar {
			display: flex;
			flex-direction: column;
			opacity: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 250px;
			height: 100%;
			z-index: 4;

			.sidebar {
				position: relative;
			}

			&-header {
				width: 240px;
				height: 56px;
				padding-left: 16px;

				@include m.flex($align-items: center);

				.hamburger-icon {
					@include m.circular-icon(
						$margin: (
							0 8px 0 0,
						),
						$hover-bg: v.$dark-theme-hover-bg
					);
				}
				&-logo {
					height: 20px;
					width: 90px;
					padding: 18px 14px 18px 16px;
					position: relative;

					&-icon-wrapper {
						fill: v.$primary-color;
					}
					&-icon-inner {
						fill: v.$dark-theme-text;
					}
					&-text {
						fill: v.$dark-theme-text;
					}

					.country-code {
						margin: 12px 0 0 -10px;
						position: absolute;
						top: 0;
						right: 0;
						font-size: 10px;
						font-weight: 300;
					}
				}
			}
		}
	}
}

@media (max-width: 656px) {
	.header {
		&-center {
			flex: 1;
			justify-content: flex-end;

			.search-container {
				display: none;
			}

			.visible-when-mobile {
				display: block;
				@include m.circular-icon(
					$margin: (
						0 0 0 4px,
					),
					$hover-bg: v.$dark-theme-hover-bg
				);
			}
		}

		&-end {
			min-width: 0;
		}
	}
}
