@use 'sass:list';
@use './variables' as var;

@mixin flex($direction: row, $justify-content: flex-start, $align-items: stretch) {
	@if not list.index((var.$flex-directions), $direction) {
		@error "#{$direction} is not a valid direction. Expected one of #{var.$flex-directions}.";
	}
	display: flex;
	flex-direction: $direction;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin circular-icon(
	$margin: (
		0 0 0 0,
	),
	$bg: transparent,
	$hover-bg: transparent,
	$size: 40px
) {
	@include flex($justify-content: center, $align-items: center);
	min-width: 0;
	border-radius: 50%;
	width: $size;
	height: $size;
	padding: 0;
	margin: $margin;
	cursor: pointer;
	background-color: $bg;

	@if $hover-bg != transparent {
		&:hover {
			background-color: $hover-bg;
		}
	}
}

@mixin icon($bg: transparent, $size: 18px, $color: #f1f1f1) {
	background-color: $bg;
	font-size: $size;
	color: $color;
}

@mixin circular-image($size: 24px, $url: '') {
	width: $size;
	height: $size;
	border-radius: 50%;
	content: url($url);
}

@mixin fix-position($position: fixed, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
