@use '../utils/mixins.scss' as mixin;
@use '../utils/medias.scss' as media;
@use '../utils/variables.scss' as var;

.header {
	@include mixin.flex($justify-content: space-between, $align-items: center);
	@include mixin.fix-position($top: 0, $right: 0, $left: 0);

	height: 3.5rem;
	padding: 0 1rem;
	z-index: 2;

	&-start {
		@include mixin.flex($align-items: center);

		.hamburger-icon {
			@include mixin.circular-icon(
				$margin: (
					0 0.5rem 0 0,
				),
				$hover-bg: var.$dark-theme-hover-bg
			);
		}
	}

	&-logo {
		height: 1.25rem;
		width: 5.625rem;
		padding: 1.125rem 0.875rem 1.125rem 1rem;
		position: relative;

		&-icon-wrapper {
			fill: var.$primary-color;
		}
		&-icon-inner {
			fill: var.$dark-theme-text;
		}
		&-text {
			fill: var.$dark-theme-text;
		}
	}

	&-center {
		@include mixin.flex($justify-content: center, $align-items: center);
		@include media.xsm() {
			flex: 1;
			justify-content: flex-end;
		}

		flex: 0 1 45.5rem;
		min-width: 0rem;

		.visible-when-mobile {
			display: none;

			@include media.xsm() {
				display: block;
				@include mixin.circular-icon(
					$margin: (
						0 0 0 0.25rem,
					),
					$hover-bg: var.$dark-theme-hover-bg
				);
			}
		}

		.search-container {
			@include mixin.flex($align-items: center);
			@include media.xsm() {
				display: none;
			}
			margin: 0 0 0 2.5rem;
			padding: 0 0.25rem;
			flex: 1;
			height: 2.5rem;

			form {
				@include mixin.flex($align-items: center);
				flex: 1;
				height: 100%;
				position: relative;
			}

			.search-icon {
				@include mixin.flex($justify-content: center, $align-items: center);
				border-radius: 0 2.5rem 2.5rem 0;
				border: 1px solid var.$dark-theme-border;
				background-color: var.$dark-theme-bg-3;
				cursor: pointer;
				width: 4rem;
				height: 100%;
				margin: 0;
			}

			.search-box {
				@include mixin.flex($align-items: center);
				height: 2.5rem;
				border-radius: 2.5rem 0 0 2.5rem;
				padding: 0 0.25rem 0 1rem;
				border: 1px solid var.$dark-theme-border;
				background-color: var.$dark-theme-bg-4;
				width: 100%;
				margin-left: 2rem;
				position: relative;

				.keyboard-icon {
					@include mixin.circular-icon();
				}

				.visible-when-focus {
					@include mixin.fix-position($position: absolute, $left: 0);

					display: none;
					color: var.$dark-theme-text;
					padding: 0 1.25rem;
					background-color: transparent;

					i {
						@include mixin.font-set();
						background-color: transparent;
					}
				}

				.visible-when-enter {
					@include mixin.circular-icon($hover-bg: var.$dark-theme-hover-bg);
					display: none;
				}

				&:focus-within {
					.visible-when-focus {
						display: block;
					}
					& {
						margin-left: 0;
						padding: 0 0.25rem 0 3rem;
					}
				}
				input {
					border: none;
					padding: 0rem;
					margin: 0rem;
					height: auto;
					width: 100%;
					outline: none;
					background-color: var.$dark-theme-bg-4;
				}

				input:not(:placeholder-shown) + .keyboard-icon {
					& {
						padding-right: 1.5rem;
					}
					& + .visible-when-enter {
						@include mixin.flex($justify-content: center, $align-items: center);
						@include mixin.fix-position($position: absolute, $right: 0);
					}
				}
			}
		}

		.voice-icon {
			@include mixin.circular-icon(
				$margin: (
					0 0 0 0.25rem,
				),
				$bg: var.$dark-theme-bg-2,
				$hover-bg: var.$dark-theme-hover-bg
			);
		}
	}
	&-end {
		@include mixin.flex($justify-content: flex-end, $align-items: center);
		@include media.xsm {
			min-width: 0;
		}

		min-width: 14rem;

		@for $i from 1 through 3 {
			$m: (0 0 0 0);
			@if ($i < 3) {
				$m: (0 0.5rem 0 0);
			}
			.icon-wrapper:nth-child(#{$i}) {
				@include mixin.circular-icon($margin: $m, $hover-bg: var.$dark-theme-hover-bg);
			}
		}
	}

	.button {
		&-hamburger {
			@include mixin.icon($bg: transparent);
		}
		&-magnifying-glass {
			@include mixin.icon();
		}
		&-voice {
			@include mixin.icon();
		}
		&-video {
			@include mixin.icon();
		}
		&-alarm {
			@include mixin.icon($size: 1.25rem);
		}
		&-user {
			@include mixin.icon($size: 1.25rem);
		}
		&-xmark {
			@include mixin.icon($size: 1.25rem);
		}
	}
}
