@use '../utils/mixins.scss' as mixin;
@use '../utils/medias.scss' as media;
@use '../utils/variables.scss' as var;

.modal {
	display: none;

	@include media.mm() {
		z-index: 3;
		@include mixin.fix-position($top: 0, $left: 0);

		background-color: transparent;
		width: 100vw;
		height: 100vh;

		&-bg {
			@include mixin.fix-position($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0);

			opacity: 1;
			background-color: rgba(0, 0, 0, 0.5);
		}

		&-sidebar {
			@include mixin.flex($direction: column);
			@include mixin.fix-position($position: absolute, $top: 0, $left: 0);

			opacity: 1;
			width: 15rem;
			height: 100%;
			z-index: 4;

			.sidebar {
				position: relative;
			}

			&-header {
				width: 15rem;
				height: 3.5rem;
				padding-left: 1rem;

				@include mixin.flex($align-items: center);

				.hamburger-icon {
					@include mixin.circular-icon(
						$margin: (
							0 0.5rem 0 0,
						),
						$hover-bg: var.$dark-theme-hover-bg
					);
				}
				&-logo {
					height: 1.25rem;
					width: 5.625rem;
					padding: 1.125rem 0.875rem 1.125rem 1rem;
					position: relative;

					&-icon-wrapper {
						fill: var.$primary-color;
					}
					&-icon-inner {
						fill: var.$dark-theme-text;
					}
					&-text {
						fill: var.$dark-theme-text;
					}
				}
			}
		}
	}
}
