@use '../utils/medias.scss' as media;

#sidebar-toggle {
	display: none;

	&:checked ~ .sidebar {
		& {
			display: none;
		}
	}

	&:not(:checked) ~ .mini-sidebar {
		& {
			display: none;
		}
	}

	&:checked ~ .content {
		& {
			margin-left: 4rem;
		}
	}

	@include media.side-sm() {
		&:checked ~ .content {
			& {
				margin-left: 0;
			}
		}
	}

	@include media.side-m() {
		&:not(:checked) ~ .mini-sidebar {
			& {
				display: flex;
			}
		}
	}

	@include media.side-to-m() {
		&:checked ~ .modal {
			& {
				display: block;
			}
		}

		&:checked ~ .modal .modal-sidebar .sidebar {
			& {
				display: flex;
			}
		}
	}

	@include media.side-l() {
		&:checked ~ .content .content-header {
			& {
				width: calc(100% - 4rem);
			}
		}

		&:not(:checked) ~ .content .content-header {
			& {
				width: calc(100% - 16rem);
			}
		}
	}
}
